* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #990000;
}

.highlight {
    color: red;
}

.navigasi {
    background-color: #990000;
    color: #CB8B00;
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 30px;
}

.nav-link:after {
    display: block;
    content: "";
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.banner {
    height: 90vh;
    background-image: url('/img/banner.jpg');
    background-size: cover;
}

.slogan {
    top: 50%;
    transform: translateY(50%);
}

.banner-h1 {
    color: white;
    font-size: 3.5em;
}

.banner p {
    color: white;
}

.profile {
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 30px;
    background-color: #990000;
}

.row-profile {
    padding-bottom: 50px;
}

.profile-h1 {
    font-size: 2.5em;
    border-bottom: 5px solid white;
    padding-top: 65px;
    padding-bottom: 30px;
}

.img {
    overflow: hidden;
}

.img img {
    transition: transform .5s ease;
}

.img:hover img {
    transform: scale(1.5);
}

.btn {
    color: #FFF;
    border: 2px solid white;
    border-radius: 0px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.4s;
}

.btn-3 {
    color: red;
    border: 2px solid red;
    border-radius: 0px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 red;
    transition: ease-out 0.4s;
}

.btn:hover {
    color: red;
    box-shadow: inset 400px 0 0 0 white;
}

.btn-3:hover {
    color: white;
    box-shadow: inset 400px 0 0 0 red;
}

.jurusan {
    padding-bottom: 80px;
}

.jurusan-h1 {
    font-size: 2.5em;
    padding-top: 90px;
    padding-bottom: 30px;
    color: #990000;
    border-bottom: 5px solid #990000;
}

.jurusan-kol img {
    margin-bottom: 20px;
    width: 180px;
    transition: all .2s ease;
}

.jurusan-kol img:hover {
    filter: brightness(150%);
}

.berita {
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 30px;
    background-color: #990000;
}

.berita-row {
    margin-top: 40px;
}

.berita-h1 {
    font-size: 2.5em;
    padding-bottom: 30px;
    color: white;
    border-bottom: 5px solid white;
}

.card {
    width: 17rem;
    border-radius: 0;
    margin: auto;
    margin-bottom: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    transition: .2s ease;
}

.card:hover {
    box-shadow: rgba(255, 255, 255, 1) 0px 0px 100px;
}

.card-img-top {
    margin-top: 10px;
    border-radius: 0;
}

@media only screen and (max-width: 600px) {
    .profile-p {
        margin-top: 10px;
        text-align: justify;
    }

    .jurusan-kol img {
        width: 100px;
    }

    .card {
        width: 20rem;
    }
}